<!DOCTYPE html>
<html>
    <head>
        <title>Q Blogger</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui inverted fixed menu">
            <div class="ui container">
                <div class="header item">Q <i class="comment outline icon forNav"></i> Blogger</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/posts/new">New Post</a>
            </div>
        </div>
            <div class="ui container">